<!DOCTYPE html>
<html>
<head>
  <title><%= t('apipie.api_documentation', :default => 'Api Documentation') %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Apipie.include_stylesheets %>
  <%= Apipie.include_javascripts %>
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
</head>
<body>
  <%= yield %>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
