body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #333;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: #2D3BCB;
  cursor: pointer;
}

a:hover, a:focus {
  outline: none;
}

nav {
  position: fixed;
  width: 16rem;
  padding: 2rem 1rem 2rem 2rem;
  overflow-y: auto;
  height: calc(100% - 3rem);
  background-color: #333;
  color: #fff;
}

nav a {
  color: #ADAEB1;
}

nav .title.active {
  font-weight: bold;
  border-bottom: solid 1px #fff;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 1rem;
}

nav .title.active:first-child {
  margin-top: 0;
}

nav .title.active a {
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article {
  width: calc(100% - 20rem);
  margin-left: 20rem;
}

li {
  margin-top: 0.2rem;
}

.tag {
  font-size: 0.8rem;
  background-color: #555;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

td {
  vertical-align: top;
}

td p:first-child {
  margin-top: 0;
}

td p:last-child {
  margin-bottom: 0;
}

ul.submenu {
  visibility: hidden;
  height: 0;
}

ul.submenu.open {
  visibility: visible;
  height: initial;
  margin-bottom: 1rem;
}

ul.submenu.open a {
  font-weight: bold;
  color: #fff;
}

.method {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
  padding-bottom: 100px;
  border-bottom: solid 1px #333;
}

.method h2 {
  margin-top: 0;
}

.method h2 a::before {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
  content: "";
  pointer-events: none;
  cursor: default;
}

.method aside {
  width: 50%;
}

.method section {
  width: 50%;
}

pre {
  margin: 0;
  overflow: auto;
  margin-right: 2rem;
  font-size: 1rem;
}
